/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: black;
  user-select: none;
  font-family: "Funnel Display", sans-serif;
}

nav {
  width: 100%;
  padding: 30px ;
  /* background-color: red; */
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

nav ul li {
  margin: 0 40px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}


.main-content {
  text-align: center;
  margin-top: 20px;
}

.image-container {
  margin: 20px;

}

.image-container img {
  max-width: 20%;
  height: auto;
  border-radius: 10px;
  border-radius: 50%;
}





.page1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

}

.project-list1{
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-top: 70px;

}
.project-list2{
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-top: 70px;

}


.project-section{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.image {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(75, 73, 73);
}

.image img {

  height: 100%;
  object-fit: cover; 
}

.heading h1{
  color: white;
  font-size: 9rem;
  text-shadow: 
  0 0 1px rgb(255, 255, 255), 
  0 0 100px rgb(255, 255, 255),
  0 0 0px rgb(255, 255, 255);

}

.detail1{
  width: 40%;
  text-align: start;
  color: white;
}

.detail1 button {
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 20px;
  border: none;
  border-radius: 2px;
}
.detail1 button:hover{
   background-color: rgb(98, 255, 0);
   transition: 400ms;
}
.detail2 button:hover{
   background-color: rgb(98, 255, 0);
   transition: 400ms;
}
.detail2 button {
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 20px;
  border: none;
  border-radius: 2px;
}
.detail2{
  width: 40%;
  text-align: end;
  color: white;
}


.detail1 h1{
 margin-top: -23px;
 font-size: 4rem;
 /* border-bottom: 2px solid white; */
}
.detail1 p{
 color: rgb(124, 122, 118);
}

.detail2 h1{
 margin-top: -23px;
 font-size: 4rem;
}
.detail2 p{
 color: rgb(124, 122, 118);
}


.about-me{
  width: 100%;
  height: 50vh;
  text-align: center;
  color: white;
  background-color: rgb(74, 255, 24);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  
}

.about-content{
  width: 40%;
  text-align: start;
  margin-left: 40px;
  color: black;
}
.about-heading{
   font-size: 3rem;
   color: rgb(0, 0, 0);
}